// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: var(--rm-space-small);
  background: var(--rm-color-primary-plus-2);
}

.nav {
  padding: .5rem 1rem;
  gap: .5rem;
  font-size: 2rem;

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: flex-end;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link {
    display: block;
    padding: .5rem;
    a { 
    color: var(--rm-color-on-background);
    }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

 

}











